@import "./node_modules/slick-carousel/slick/slick.css";
@import "./node_modules/slick-carousel/slick/slick-theme.css";

html, body {
  margin: 0;
  height: 100%;
}

body {
    padding: 0;
    font-family: Mukta-Regular;
}

header {
    background-color: #373a47;
    height: 57px;
}

.hidden {
    display: none;
}

.title {
    line-height: 57px;
    margin-left: 60px;
    color: white;
    font-family: Comfortaa-Bold;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.15em;
}

.stuff {
    padding: 20px 30px;
}

.slick-slider {
    display: flex;
    flex-direction: column;
}






.box {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 200px);
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 20px;
    height: 16px;
    left: 20px;
    top: 20px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
  }

  .bm-burger-button:hover .bm-burger-bars {
    background-color: tomato !important;
    opacity: 1 !important;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 30px 0 10px 0;
    font-size: 1.15em;
    height: auto !important;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 8px;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

.bm-menu-wrap {
    background-color: #373a47;
}





  div a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  }
  
  div.section {
    width: 100%;
  }
  
  .crosshair .link-effect-14 a {
    color: white;
    padding: 15px 20px;
    position: relative;
    overflow: hidden;
    display: block;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    font-family: Comfortaa-Bold;
  }
  .crosshair .link-effect-14 a span::before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-top: 2px solid tomato;
    border-left: 2px solid tomato;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .crosshair .link-effect-14 a span::after {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 2px solid tomato;
    border-bottom: 2px solid tomato;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .crosshair .link-effect-14 a::before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-right: 2px solid tomato;
    border-top: 2px solid tomato;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .crosshair .link-effect-14 a::after {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 2px solid tomato;
    border-bottom: 2px solid tomato;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .crosshair .link-effect-14 a:hover,
  .crosshair .link-effect-14 a.selected {
    color: tomato;
  }
  .crosshair .link-effect-14 a:hover::before,
  .crosshair .link-effect-14 a.selected::before {
    opacity: 1;
    right: 5px;
    top: 5px;
  }
  .crosshair .link-effect-14 a:hover::after,
  .crosshair .link-effect-14 a.selected::after {
    opacity: 1;
    left: 5px;
    bottom: 5px;
  }
  .crosshair .link-effect-14 a:hover span::before,
  .crosshair .link-effect-14 a.selected span::before {
    opacity: 1;
    left: 5px;
    top: 5px;
  }
  .crosshair .link-effect-14 a:hover span::after,
  .crosshair .link-effect-14 a.selected span::after {
    opacity: 1;
    right: 5px;
    bottom: 5px;
  }





  /* @import url("https://fonts.googleapis.com/css?family=Open+Sans"); */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cf:before, .cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}

.inner {
  margin: 0 auto;
}

.breadcrumbs {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  
  font: 12px/1 'Open Sans', sans-serif;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul.breadcrumbs {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  list-style: none;
  display: inline-block !important;
  margin-top: 10px;
}

.breadcrumbs li {
  float: left;
  width: 180px;
}

.breadcrumbs a {
  position: relative;
  display: block;
  padding: 20px;
  padding-right: 0 !important;
  /* important overrides media queries */
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #aaa;
  cursor: pointer;
}

.breadcrumbs a:hover {
  background: #eee;
}

.breadcrumbs li.slick-active a {
  color: #777;
  background-color: #fafafa;
}

.breadcrumbs a span:first-child {
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 2px;
  margin-right: 5px;
  border: 2px solid #aaa;
  border-radius: 50%;
  background-color: #fff;
}

.breadcrumbs li.slick-active a span:first-child {
  color: #fff;
  border-color: #777;
  background-color: #777;
}

.breadcrumbs a:before,
.breadcrumbs a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  border-left: 16px solid transparent;
}

.breadcrumbs a:before {
  margin-left: 1px;
  border-left-color: #d5d5d5;
}

.breadcrumbs a:after {
  border-left-color: #f5f5f5;
}

.breadcrumbs a:hover:after {
  border-left-color: #eee;
}

.breadcrumbs li.slick-active a:after {
  border-left-color: #fafafa;
}

.breadcrumbs li:last-child a:before,
.breadcrumbs li:last-child a:after {
  display: none;
}

@media (max-width: 720px) {
  .breadcrumbs a {
    padding: 15px;
  }

  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 26px;
    border-bottom-width: 26px;
    border-left-width: 13px;
  }
}

@media (max-width: 620px) {
  .breadcrumbs a {
    padding: 10px;
    font-size: 12px;
  }

  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 22px;
    border-bottom-width: 22px;
    border-left-width: 11px;
  }
}

@media (max-width: 520px) {
  .breadcrumbs a {
    padding: 5px;
  }

  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 16px;
    border-bottom-width: 16px;
    border-left-width: 8px;
  }

  .breadcrumbs li a span:first-child {
    display: block;
    margin: 0 auto;
  }

  .breadcrumbs li a span:last-child {
    display: none;
  }
}







  @font-face {
    font-family: 'Comfortaa-Bold';
    src: url('Comfortaa-Bold.ttf');
  }
  
  
  @font-face {
    font-family: 'Mukta-Regular';
    src: url('Mukta-Regular.ttf');
  }
  